@font-face {
  font-family: 'Yumin';
  src: url('../fonts/webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/yumin.ttf')  format('truetype'), /* Safari, Android, iOS */
}

body.home{
  background: #F2F0ED;
  color: #8B8679;
}

#footer{
  background: #fff;
}

body.home #footer{
  background: #E8E4DC;
}

body .breadcrumb{
  background: transparent;
}

#main-menu .sub-menu {
  display: none;
  position: absolute;
  background-color: rgba(40,40,40,.8) !important;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  list-style: none; 
  padding-left: 18px; 
}

#main-menu .sub-menu li{
	list-style: none;
    line-height: 30px !important;
}

#main-menu .sub-menu li a:hover{
  text-decoration: none !important;
}

.footer_mobile_menu ul.sub-menu{
   margin: 0px 0px 0px 15px;
}

#main-menu .menu-item-has-children:hover .sub-menu {
  display: block;
}

.footer-menu #menu-footer-pc li{
  width: auto !important;
  line-height: 28px;
}

.footer-menu #menu-footer-pc .sub-menu{
  padding-left: 20px;
  position: absolute;
  width: 400px;
}

.footer-menu.navbar-collapse{
  display: flex !important;
  justify-content: center;
}

.footer_main .amore-section{
  padding: 0px 0px 30px;
}

.footer-menu #menu-footer-pc li a span{
  margin-right: 15px;
}

.footer-menu #menu-footer-pc .sub-menu span{
  display: none;
}

.footer-menu ul li a {
  padding: 10px 30px;    
  font-size: 15px;
}

header.breadcrumb img
{
  margin-top: -4px; 
}

p.info-dr{
  margin-bottom: 0.5em !important;
}

.staff-page ul.list-item{
  margin-left: 20px; 
  list-style: disc;
  font-size: 16px
}

.staff-page h4.circle{
  padding-left: 20px;
}

.staff-page .fade{
  opacity: 1 !important
}

.staff-page .slider{
  position: relative;
  top: unset;
  left: unset;
  width: 560px;
  height: 400px;
  transition: unset;
}

.slideshow-container .mySlides {
  display: none;
  text-align: center;
}
.slideshow-container .mySlides img {
  vertical-align: middle;
  width:600px ;
  height: 300px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-bottom: 24px;
}

/* Next & previous buttons */
.slideshow-container .prev, .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.slideshow-container .prev {
  left: 100px;
}
/* Position the "next button" to the right */
.slideshow-container .next {
  right: 100px;
  border-radius: 3px 0 0 3px;
}

.slideshow-container .prev:hover, .slideshow-container .next:hover
{
   text-decoration: none;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.staff-page .right-thumbnail{
   text-align: right;
}

.activities .item-img{
   width: 100%;
   height: 150px;
   margin-bottom: 25px;
}


.activities .item-text{
  width: 100%;
  margin-bottom: 30px;
}

.activities .r-block div.first-item-img {
  margin-top: 100px;
}

.col-xs-sp{
  display: none;
}

 .tbl
{
  width: 70% !important;
  padding-left: 40px !important; 

}

.text-padding-left{
  padding-left: 50px !important; 
}

.padding-left-title{
  padding-left: 20px !important; 
}

.support-page .text-address{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
}

.pt-20{
  padding-top: 20px;
}

.expense-page .expense-item{
  position: relative;
  font-size: 15px;
}

.expense-page .mt-60{
   margin-top: 60px;
}

.expense-page .mt-100{
   margin-top: 100px;
}

.expense-page .mt-185{
   margin-top: 197px;
}

.expense-page .expense-item .col-sm-110{
  border: 1px solid #d6c77e;
  padding-top: 100px;
  padding-bottom: 20px;
}
 
.expense-page .expense-item .col-sm-110 img{
  position: absolute;
  top: -80px;
  left: -25px;
}

.expense-page .expense-item .col-sm-110 h4 span{
  font-family: georgia, palatino, serif;
}

.expense-page .expense-item .row .row{
  padding: 5px 0px;
}
.support-page .button_share1{
  margin-left: 5px;
}
.support-page .button_share {
  
  display: block;
  float: left;
  padding: 0px 5px;
  border-radius: 3px;
  background-color: #ececec;
  text-decoration: none;
  font-size: 11px;
  color: #FFF;
 }
 .support-page .button_share:hover {
  color: #efefef;
 }
 .support-page .facebook {
  background-color: #3b5998;
 }
 .support-page .gplus {
  background-color: #dd4b39;
 }
 .support-page  .twitter {
  background-color: #55acee;
 }
 .support-page .stumbleupon {
  background-color: #eb4924;
 }
 .support-page .pinterest {
  background-color: #cc2127;
 }
 .support-page .linkedin {
  background-color: #0077b5;
 }
 .support-page .buffer {
  background-color: #323b43;
 }
 
 .support-page th{
   border: 1px solid black;
   padding: 0px;
  
 }
 .support-page td{
   border: 1px solid black;
   padding: 0px;
 }

 .support-page .map{
  text-align: center; width:700px; margin: 0 auto;
 }

 .amore-welcome-top {
    padding: 30px 0;
 }
 .top-second{
    background: #E8E4DC;
 }

 .amore-welcome-top h2 , .amore-welcome-top h3{
   color: #8B8679;
 }

  .amore-welcome-top h3{
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 24px;
 }

 .amore-welcome-top h2{
    font-size: 18px;
    font-weight: 700;
    margin-top: 0px;
 }

 h3.text-header{
    color: #8B8679;
    font-size: 32px;
    margin-bottom: 60px;
 }

 h3.text-header span{
    color: #8B8679;
    font-size: 22px;
    font-weight: 700;

 }

 .news-top .amore-section-list {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #464646;
    width: 70%;
    margin: 0 auto;
    background: #fff;
    border-radius: 5px;
 }

.news-top .amore-section-list ul{
    margin-bottom: 0px;
    list-style: none;
    margin-left: 0px;
 }
 .amore-section-list ul li span{
    color: #BAB8B2;
    font-weight: 700;
    font-size: 18px;
    margin-right: 10px;
 }

 .amore-section-list ul li a{
    color: #8B8679;
    font-size: 18px;
    text-decoration: none;
 }

 .top-headline2 {
    font-size: 20px !important;
    font-weight: 700;
}

.text-header span.news-text{
   position: relative;
}

.text-header span.news-text:after {
    content: "";
    position: absolute;
    width: 75px;
    border: 1px solid #ccc;
    left: 35px;
    top: 40px;
}

.top-headline-greeting span{
    position: relative;
}

.top-headline-center span{
  position: relative;
}

.top-headline-center span:after{
    content: "";
    position: absolute;
    width: 75px;
    border: 1px solid #ccc;
    left: 0;
    top: 40px;
}


.title-header-first:after{
    content: "";
    position: absolute;
    width: 90%;
    border: 1px solid #ccc;
    left: -160px;
    top: 63px;
    z-index: -1;
}


.title-header-staff{
  padding: 10px 0px 30px;
}
.title-header-staff-text{
  padding: 0px 0px 30px 0px;
  text-transform: uppercase;
  font-weight: 700;
}
.title-header-staff:after {
    content: "";
    position: absolute;
    width: 120%;
    border: 1px solid #ccc;
    left: 15px;
    top: 73px;
    z-index: -1;
}

.title-header-promise:after {
    content: "";
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    left: -160px;
    top: 63px;
    z-index: -1;
}

.top-headline-category span:after{
    left: 20px;
}

.greeting-top{
  padding-top: 60px;
  padding-bottom: 60px;
}

.greeting-top h3{
    line-height: 40px;
    font-size: 30px;
    margin-bottom: 100px;
}

.greeting-top p{
  line-height: 30px;
  margin-top: 50px;
  font-size: 16px;
}

#fifth .circle{
  height: 176px;
  border: 1px solid #8B8679;
  border-radius: 50%;
  margin: 0px 20px;
}

#fifth .circle img{
  margin-top: 25px;
}

#fifth .circle .text-inline{
  font-size: 11px;
  font-weight: 700;
}

#fifth .text-outline{
  font-size: 14px;
  margin-bottom: 40px;
}

.tb120{
  padding: 120px 0px;
}

.pt140{
  padding-top: 120px;
}

.pt100{
  padding-top: 100px;
}

.pt20{
  padding-top: 20px;
}

.pt60{
  padding-top: 60px;
}


.mt10{
   margin-top: 10px;
}

.mt15{
   margin-top: 15px;
}

.mt60{
   margin-top: 60px;
}

.col-sm-offset-5-right{
  margin-right: 4.16666667%;
}

.pb40{
  padding-bottom: 40px;
}

.button-slider{
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.button-slider ul{
  list-style: none;
  display: flex;
}

.button-slider ul li{
   width: 14px;
   height: 14px;
   background: #fff;
   border-radius: 50%;
   margin: 0px 10px;
   cursor: pointer;
}

.button-slider ul li.active{
  background: #8B8679;
}

/* care top */
.care-top{
  background: #fff;
  color: #8B8679 !important;
  padding-top: 30px;
}
.care-top .top-headline-care{
  color: #8B8679;
}

.care-top .top-headline-care span:after{
  left: -5px;
}

.care-top .top-headline-care-text{
  color:#8B8679;
  margin-bottom: 100px;
  margin-top: 40px;
}

/* news top */

.news-top{
  padding-top: 30px;
}

.news-top ul li
{
  padding: 10px 0px;
}

.news-top ul li a:hover, .news-top ul li a:hover span
{
  color: #d6c77e;
}

/* suppport top */

.support-top{
  padding-top: 40px;
}

.support-top .top-headline-center{
 position: relative;
 padding-top: 30px
}

.support-top .top-headline-support span:after{
  left: 15px;
}


.support-top h4.top-title{
  margin-bottom: 100px;
  margin-top: 40px;
}

.support-top p{
  line-height: 30px;
  font-size: 16px;
}

.support-top .view-more{
  border: 1px solid #8B8679;
  padding: 15px 100px;
  border-radius: 55px;
  color: #8B8679;
  text-decoration: none;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-decoration: none;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  -webkit-transition: -webkit-transform .3s ease,-webkit-transform .3s ease;
  transition: transform .3s ease,-webkit-transform .3s ease;
}

.support-top .view-more:hover{ 
  -webkit-transform: scale(.9);
  transform: scale(.9); 
}


.support-top  .title-header-first-text{
  padding: 30px 0px 30px 0px;
  text-transform: uppercase;
  font-weight: 700;
}


/* category top */
.category-top{
  background: #E8E4DC;
  padding-bottom: 60px;
}

.category-top .caption-text{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    left: 0;
}


.category-top a:hover .caption-text{
   background-color: #8a6d3b; 
}

.category-top .top-headline-category{
  position: relative;
  padding-top: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.category-top h4.top-title{
  margin-bottom: 100px;
  margin-top: 40px;
}

.padding030{
  padding: 0px 30px;
}

.category-top .text-content{
   position: absolute;
   height: 100%;
   top: 100px;
   width: 100%;
   color: #fff;
   font-size: 16px;
   left: 0;
}

.category-top .text-content span{
  line-height: 45px;
  font-weight: 700;
}




 


@media only screen and (min-width: 991px){
  .navbar-collapse {
    padding-right: 0 !important;
    background: 0 0 !important;
    margin-top: 0;
    padding-left: 0;
  }
  .site-navigation {
    background-color: #F2F0ED;
    height: 120px;
  }

 .footer_main, .scrolltotop{
    background-color: #A8A294;
  }

  #main-menu>li>a{
    color: #6A614A !important;
  }

  #main-menu>li>a:hover{
    color: #d6c77e !important;
  }

  
  .right-menu {
    margin-right: 0px !important; 
    margin-top: 35px !important;    
  }
  #main-menu>li>a{
    padding-left: 17px;
    padding-right: 17px;
  }
  .h_logo{
    margin-top: -20px;
  }

  #main-menu li:first-child a {
    padding-left: 0px;
  }
  #main-menu li:last-child a {
    padding-right: 0px;
  }

  .is-mobile{
     display: none
  }
  #menu-footer-pc{
    padding: 40px 0px 60px 0px;
  }  

  #menu-footer-pc li a {
    padding: 10px 41px;
  }
  #menu-footer-pc li:first-child a {
    padding-left: 0px;
  }
  #menu-footer-pc li:last-child a {
    padding-right: 0px;
  }

  .footer-icon-phone{
  padding-right: 0px;
  line-height: 76px;
  }

  .footer-icon-phone img{
    margin-top: -10px
  }

  .footer-phone{
    padding-left: 0px;
    text-align: left;
  }

  .footer-phone h3{
    font-size: 28px;
    color: #fff;
    font-weight: 700;
  }


  .footer-icon-address{
    padding-right: 0px;
    line-height: 76px;
  }

  .footer-icon-address img{
    margin-top: -10px
  }

  .footer-address-2{
    padding-left: 0px;
    text-align: left;
  }

  .footer-address-2 h3{
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    line-height: 23px;
    margin-top: 12px;
  }

  .pt-35{
     padding-top: 35px
  }


  .footer-icon-line{
    padding-right: 0px;
    line-height: 85px;
  }

  .footer-icon-line img{
    margin-top: -10px
  }

  .footer-icon-pr-code{
    text-align: left;
    padding-left: 0px;
    /*padding-right: 0px;*/
  }

  .footer-icon-pr-code img{
    margin-top: -10px
  }

  .footer-pr-code{
    padding-left: 0px;
    text-align: left;
  }

  .footer-pr-code h3{
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    line-height: 50px;
    margin-top: 12px;
  }

  #menu-footer-pc li a {
    padding: 10px 34px;
  }
}

@media only screen and (min-width: 1366px){
  .container {
    width: 1200px;
  }
  #main-menu>li>a {
    padding-left: 30px;
    padding-right: 30px;
  }

   #menu-footer-pc li a {
    padding: 10px 56px;
  }

  .footer-icon-phone{
  padding-right: 0px;
  line-height: 76px;
  }

  .footer-icon-phone img{
    margin-top: -10px
  }

  .footer-phone{
    padding-left: 0px;
    text-align: left;
  }

  .footer-phone h3{
    font-size: 30px;
    color: #fff;
    font-weight: 700;
  }


  .footer-icon-address{
    padding-right: 0px;
    line-height: 76px;
  }

  .footer-icon-address img{
    margin-top: -10px
  }

  .footer-address-2{
    padding-left: 0px;
    text-align: left;
  }

  .footer-address-2 h3{
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    line-height: 23px;
    margin-top: 12px;
  }

  .pt-35{
     padding-top: 35px
  }


  .footer-icon-line{
    padding-right: 0px;
    line-height: 85px;
  }

  .footer-icon-line img{
    margin-top: -10px
  }

  .footer-icon-pr-code{
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
  }

  .footer-icon-pr-code img{
    margin-top: -10px
  }

  .footer-pr-code{
    padding-left: 0px;
    text-align: left;
  }

  .footer-pr-code h3{
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    line-height: 50px;
    margin-top: 12px;
  }

  #fifth .circle{
    height: 196px;  
    margin: 0px 10px;
 }

 #fifth .circle .text-inline{
  font-size: 15px;
  font-weight: 700;
 }

 #fifth .text-outline {
    font-size: 16px;
    margin-bottom: 50px;
 }

}
@media only screen and (max-width: 1365px){
  #fifth .circle {
    height: 176px;  
    border-radius: 50%;
    margin: 0px 5px;
    width: 176px;
  }
}

@media only screen and (max-width: 1200px){
  #main-menu>li>a {
    padding-left: 9px;
    padding-right: 9px;
  }

  .footer-icon-phone{
  padding-right: 0px;
  line-height: 76px;
  }

  .footer-icon-phone img{
    margin-top: -10px
  }

  .footer-phone{
    padding-left: 0px;
    text-align: left;
  }

  .footer-phone h3{
    font-size: 27px;
    color: #fff;
    font-weight: 700;
  }


  .footer-icon-address{
    padding-right: 0px;
    line-height: 76px;
  }

  .footer-icon-address img{
    margin-top: -10px
  }

  .footer-address-2{
    padding-left: 0px;
    text-align: left;
  }

  .footer-address-2 h3{
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    line-height: 23px;
    margin-top: 12px;
  }

  .pt-35{
     padding-top: 35px
  }


  .footer-icon-line{
    padding-right: 0px;
    line-height: 85px;
  }

  .footer-icon-line img{
    margin-top: -10px
  }

  .footer-icon-pr-code{
    text-align: left;
    padding-left: 0px;
    /*padding-right: 0px;*/
  }

  .footer-icon-pr-code img{
    margin-top: -10px
  }

  .footer-pr-code{
    padding-left: 0px;
    text-align: left;
  }

  .footer-pr-code h3{
    font-size: 11px;
    color: #fff;
    font-weight: 700;
    line-height: 50px;
    margin-top: 12px;
  }
}

@media only screen and (max-width: 771px){
  #logo_image #logo img {
    height: 44px !important;
  }

  #logo {
    top: 10px !important;
  }

  #fifth .row .row .col-xs-120{
    width: 50% !important;
  }

  #fifth .circle{
     margin: 0 auto;
  }

  #sixth {
    background-image: none !important;
    background-color: #F2F0ED !important;
  }

  .support-top .view-more {  
    padding: 15px 50px;
  }  

  .footer-menu ul li {
    width: 50%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }

  .footer-menu.navbar-collapse, .footer_main {
     background: #A8A294 !important;
  }

  .footer_main .romaji{
     width: 100% !important;     
     padding-bottom: 40px;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 767px) {

  #fifth .row .row .col-xs-120{
    width: 100% !important;
  }
 
  .slideshow-container .mySlides img {
    max-width: 100%;
    width: unset;
    height: 200px;
  }
  .support-page .map{
    text-align: center; width:100%;
   }
 
  .slideshow-container .prev {
  left: 0px;
  }
  /* Position the "next button" to the right */
  .slideshow-container .next {
    right: 0px;  
   }
 
  .staff-page .right-thumbnail{
   text-align: center;
  }
  .col-xs-pc{
     display: none;
  }
  .col-xs-sp{
    display: block;
  }
  .support-page h2
  {
     font-size: 16px;
     padding-left: 0px !important; 
  }
  .tbl
  {
    width: 100% !important;
  }
  .text-padding-left{
     padding-left: 0px !important; 
  }

  .padding-left-title{
    padding-left: 10px !important; 
  }

  .expense-page .expense-item{
    font-size: 13px;
  }

  .expense-page .mt-185{
   margin-top: 100px;
  }

  /* top  page*/
  .news-top .amore-section-list{
     width: 100%;
  }

  .news-top .amore-section-list ul{
    padding: 0 10px;
  }

  .amore-section-list ul li span, .amore-section-list ul li a{
     font-size: 14px 
  }

  #fifth .circle{
    width: 176px;
    margin: 0 auto;
  }

  #fifth .text-outline {
    margin-bottom: 30px;
  }

  .amore-welcome-top {
     padding: 30px 15px;
  }

  .category-top .no-padding{
    padding: 0px 15px;
  }

  .category-top .text-content{
    top: 70px;
  }

  .category-top .caption-text {   
    width: calc(100% - 30px);
    left: 15px;
  }

  #sixth {
    background-image: none !important;
    background-color: #F2F0ED!important;
  }

  .footer_mobile_menu ul li{
    width: 50%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }

  .footer_main , .footer_mobile_menu_wrapper, .footer_social_link_wrapper, .front_mobile_footer{
    background: #A8A294 !important;
  }

 }