#main-menu .sub-menu {
  display: none;
  position: absolute;
  background-color: rgba(40,40,40,.8) !important;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  list-style: none; 
  padding-left: 18px; 
}

#main-menu .sub-menu li{
	list-style: none;
    line-height: 30px !important;
}

.footer_mobile_menu ul.sub-menu{
   margin: 0px 0px 0px 15px;
}

#main-menu .menu-item-has-children:hover .sub-menu {
  display: block;
}

.footer-menu #menu-footer-pc li{
  width: auto !important;
  line-height: 28px;
}

.footer-menu #menu-footer-pc .sub-menu{
  padding-left: 20px;
  position: absolute;
  width: 200px;
}

.footer-menu.navbar-collapse{
  display: flex !important;
  justify-content: center;
}

.footer_main .amore-section{
  padding: 0px 0 100px;
}

.footer-menu #menu-footer-pc li a span{
  margin-right: 15px;
}

.footer-menu #menu-footer-pc .sub-menu span{
  display: none;
}

.footer-menu ul li a {
  padding: 10px 30px;    
  font-size: 15px;
}

